<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("History", "History", "Home")</li>
        <li>@Html.ActionLink("Message", "List", "Message")</li>
        <li>@Html.ActionLink("Member", "Index", "Member")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
             
    </ul>
    <div>
        @RenderBody()
    </div>
</body>
</html>
